* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #222;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
}
.parent {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}
.Card {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  border: 1px solid #fff;
}
.Card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.Card h2 {
  color: #ffffff;
  font-weight: bold;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Card p {
  color: #fff;
  font-size: 15px;
  margin: 10px 0px;
}
.Card button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: antiquewhite;
    font-weight: 600;
}
